<!DOCTYPE html>
<html>
<head>
    <title>Zaaikalender | @ViewBag.Title</title>
	<!---<link rel="stylesheet" href="/Content/Stylesheets/bootstrap.css"> -->
</head>
<body>
	<div class="container">
	@RenderBody()
	</div>
</body>
</html>