<!DOCTYPE html>
<html>
<head>
    <title>Zaaikalender | @ViewBag.Title</title>
	<!---<link rel="stylesheet" href="/Content/Stylesheets/bootstrap.css"> -->

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/Scripts/flowtype.js"></script>
    <script src="/Scripts/font-settings.js"></script>

</head>
<body>
	<div class="container">
		@RenderBody()
	</div>
</body>
</html>