<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | Oogstplanner</title>

    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="/Content/Stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/Stylesheets/bootstrap-navbar.css" />

    <link rel="stylesheet" href="/Content/Stylesheets/zk.styles.css" />
    <link rel="stylesheet" href="/Content/Stylesheets/zk.responsive-square-elements.css" />
    <link rel="stylesheet" href="/Content/Stylesheets/jquery.fullPage.css" />
    <link rel="stylesheet" href="/Content/Stylesheets/typeaheadjs.css" />

    <!--[if lte IE 8]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-shim.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        
    <script src="/Scripts/jquery-2.1.3.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script> -->
    <script src="/Scripts/jquery-ui-1.11.3.min.js"></script>
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/jquery.easings.min.js"></script>
    <script src="/Scripts/jquery.slimscroll.min.js"></script>
    <script src="/Scripts/jquery.flowtype.js"></script>
    <script src="/Scripts/jquery.fullPage.js"></script>
    <script src="/Scripts/handlebars.min.js"></script>
    <script src="/Scripts/typeahead.bundle.min.js"></script>

    <script src="/Scripts/zk.js"></script>
    <script src="/Scripts/zk.site-settings.js"></script>
    <script src="/Scripts/zk.drag-and-drop.js"></script>
    <script src="/Scripts/zk.month-click-listeners.js"></script>
    <script src="/Scripts/zk.crops-suggestion-engine.js"></script>
    <script src="/Scripts/zk.crop-selection-box.js"></script>

</head>
<body>
@if (Request.IsAuthenticated)
{
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" 
                    data-toggle="collapse" data-target="#navbar" 
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Navigatie</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">De oogstplanner</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Home/Index">Maandoverzicht</a></li>
                <li><a href="/Calendar/Year">Jaarkalender</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                                role="button" aria-expanded="false">Mijn profiel <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Account/View">Bekijken</a></li>
                        <li><a href="/Account/Edit">Aanpassen</a></li>
                        <li class="divider"></li>
                        <li><a href="/Account/Logoff">Uitloggen</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>
}
else 
{
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">De oogstplanner</a>
        </div>
    </nav>
}

    <div class="container">
    	@RenderBody()
    </div>

</body>
</html>