@model YearCalendarViewModel

@{
    ViewBag.Title = "Nieuwe kalender invullen";
}

<div id="top"></div>

<div id="select-crop">
    <input class="typeahead form-control" type="text" placeholder="Zoek een gewas">
</div> 
<br/>
<br/>

@Html.ActionLink("Terug naar thuis", "Index",  "Home",  null, null)