@model YearCalendarViewModel

@{
    ViewBag.Title = "Nieuwe kalender invullen";
}

<div id="top"></div>

<div id="select-crop">
    <input class="typeahead" type="text" placeholder="Selecteer gewas">
</div> 

@Html.ActionLink("Terug naar thuis", "Index",  "Home",  null, null)