@model YearCalendarViewModel

@{
    ViewBag.Title = "Nieuwe kalender invullen";
}

<div id="top"></div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div id="select-crop">
            <input class="typeahead form-control" type="text" placeholder="Zoek een gewas">
        </div> 
    </div>
</div><!-- End row -->


@Html.ActionLink("Terug naar thuis", "Index",  "Home",  null, null)