@{
    ViewBag.Title = "Veelgestelde vragen (FAQ)";
}

@Styles.Render("~/Content/Stylesheets/oogstplanner.faq.css")

@* START RESPONSIVE RECTANGLE LAYOUT *@

@* Top bar *@
<div id="top"></div>
   
<br />
<br />
<br />

<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    Deze sectie bevat de antwoorden op <strong>veelgestelde vragen (FAQ)</strong>. Als u een antwoord op uw vraag niet kan vinden zorg dan dat u ons contacteert.
</div>

<br />
