<!-- Remove _ prefix of filename to include this file in solution.
     It will be ignored in .gitignore file so it is not part of source control.-->
<connectionStrings>
    <clear />
    <add name="ZkTestDatabaseConnection" 
         connectionString="Server=localhost;Port=5432;Database=ZkTestDatabase;User Id=zktest;Password=broccoli;CommandTimeout=20;" 
         providerName="Npgsql" />
    <add name="AspSQLProvider" 
         connectionString="Server=localhost;Port=5432;Database=ZkTestUsersDatabase;User Id=zktest;Password=broccoli;Encoding=UNICODE;Sslmode=Prefer;Pooling=true;"/>
</connectionStrings>