<connectionStrings>
    <clear />
	<add name="ZkDatabaseConnection" 
		 connectionString="server=localhost;database=myDb;uid=myUser;password=myPass;" 
		 providerName="MySql.Data.MySqlClient"/>
    <add name="ZkTestDatabaseConnection" 
         connectionString="Server=localhost;Port=5432;Database=ZkTestDatabase;User Id=zktest;Password=broccoli;CommandTimeout=20;" 
         providerName="Npgsql" />
    <add name="AspSQLProvider" 
         connectionString="Server=localhost;Port=5432;Database=ZkTestUsersDatabase;User Id=zktest;Password=broccoli;Encoding=UNICODE;Sslmode=Prefer;Pooling=true;"/>
</connectionStrings>