<connectionStrings><add name="ZkDatabaseConnection" connectionString="server=localhost;database=myDb;uid=myUser;password=myPass;" /></connectionStrings>

<connectionStrings><add name="ZkTestDatabaseConnection" connectionString="server=localhost;database=myDb;uid=myUser;password=myPass;" /></connectionStrings>