@model LostPasswordModel

@using (Ajax.BeginForm("LostPassword", "Account", new { @class="form-signin", @role="form"}, 
    new AjaxOptions 
    { 
        OnBegin = "Scripts.resetValidation()",
        OnSuccess = "Scripts.refreshPage()", 
        OnFailure = "Scripts.handleError(xhr.responseJSON)" 
    }))
{

    <div class="form-group">
        <div class="validation-summary-errors">
            <ul></ul>
        </div>
    </div>

    <h2 class="form-signin-heading dark">Wachtwoord vergeten?</h2>

    @Html.LabelFor(m => m.Email, new { @class="sr-only" })
    @Html.TextBoxFor(m => m.Email, 
        new { @class = "form-control", @type = "email", @placeholder = "E-mailadres" })
    <br/>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Verstuur wachtwoord reset link</button>

    <h2 class="form-text">@ViewBag.Message</h2>

}
