@{
    ViewBag.Title = "Inloggen";
}

<div class="flowtype-area">

<!-- START RESPONSIVE RECTANGLE LAYOUT -->

<!-- Top bar -->
<div id="top"></div>

<!-- Fixed main screen -->
<div id="login" class="bg imglogin">
    <div class="row">

        <div id="loginbox" class="mainbox col-lg-12 col-md-12 col-sm-12 col-xs-12">                    
            <div class="panel panel-info">
                <div class="panel-body">
                    <div id="login-alert" class="alert alert-danger col-sm-12"></div>

                    @{ Html.RenderPartial("_LoginForm"); }

                </div><!-- End panel body -->
            </div><!-- End panel -->
        </div><!-- End login box column-->

        <div id="signupbox" class="mainbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-body">

                    @{ Html.RenderPartial("_RegisterForm"); }

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div class="box-border dark">
                                Ik heb al een account! 
                                <a id="signin-link" href="#">
                                    Inloggen.
                                </a>
                            </div>
                        </div>
                    </div>  

                </div><!-- End panel body -->
            </div><!-- End panel -->
        </div><!-- End signup box -->

    </div><!-- End row -->
</div><!-- End main login div -->

<!-- END RESPONSIVE RECTANGLES LAYOUT -->

</div><!-- End flowtype-area -->