@{
    ViewBag.Title = "Wachtwoord resetten";
}

<!-- START RESPONSIVE RECTANGLE LAYOUT -->
<div id="top"></div>

<!-- Fixed main screen -->
<div id="login" class="bg imglogin">
    <div class="row">
        <div class="mainbox col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-body">

                    @{ Html.RenderPartial("_ResetPasswordForm"); }

                 </div><!-- End panel body -->
            </div><!-- End panel -->
        </div><!-- End signup box -->
    </div><!-- End row -->
</div><!-- End main login div -->

<!-- END RESPONSIVE RECTANGLES LAYOUT -->
