@model YearCalendarViewModel

<div class="row">
    <br/>
    <div class="col-lg-6 col-md-6">
        <a href="#" class="like" data-calendar-id="@Model.CalendarId">
            <img src="/Content/Images/like.png" alt="Klik hier om deze zaaikalender te liken" /> 
            <br/>
        </a>
    </div>
    <div class="col-lg-6 col-md-6">
        <a href="#" class="unlike" data-calendar-id="@Model.CalendarId">
            <img src="/Content/Images/unlike.png" alt="Klik hier om deze zaaikalender te liken" /> 
            <br/>
        </a>
    </div>
</div>