@model YearCalendarViewModel

<div class="row">
    <h4>
        <strong><span id="amount-of-likes">@Model.LikesCount</span></strong>
        <span> </span><span id="people">mensen vinden</span> 
        je
            @if (Model.IsOwnCalendar)
            {
                <span>uw kalender leuk.</span> 
            }
            else
            {
                <span>de kalendar van @Html.ActionLink(Model.UserName, "UserInfo",  "Account",  new { userName = Model.UserName }, null) leuk.</span>
            }

    </h4>
</div>