@model YearCalendarViewModel

<div class="row">
    <h4>
        De zaaikalender van @Model.UserName heeft 
        <strong><span id="amount-of-likes">@Model.LikesCount</span></strong>
        <span id="likes-verb">likes.</span>
    </h4>
</div>