@{
    ViewBag.Title = "Zaaikalender";
}

@Scripts.Render("~/Scripts/oogstplanner.likes")

<div id="top"></div>

<div id="yearCalendar">

<h1>Zaaikalender</h1>

<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-2"></div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-8">
        <div class="panel panel-default dark">
            <p>
                <span class="glyphicon glyphicon-heart-empty"></span>Je hebt nog geen gewassen in je zaaikalender.<br/><br/>
                @Html.ActionLink("Oogst of zaai eerst een gewas", "SowingAndHarvesting",  "Home",  null, null)<br/>
                <!--@Html.ActionLink("Doe inspiratie op bij andere gebruikers", "TODO",  "TODO",  null, null)<br/>
                @Html.ActionLink("Zie de veelgestelde vragen lijst (FAQ)", "TODO",  "TODO",  null, null)<br/>-->
                ...of ga terug naar de <strong>@Html.ActionLink("OogstPlanner.nl Welkomstpagina", "Index",  "Home",  null, null)</strong>
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-2"></div>
</div>

</div> @* End yearcalendar *@
