@model YearCalendarViewModel

@{
    ViewBag.Title = "Zaaikalender";
}

@Scripts.Render("~/Scripts/oogstplanner.likes")

<div id="top"></div>

<div id="yearCalendar">

<h1>Zaaikalender</h1>

    @if (Model == null)
    {
        Html.RenderPartial("_UserDoesNotExist");
    }
    else if (Model.Any(m => m.SowingActions.Any() || m.HarvestingActions.Any()))
    {
        Html.RenderPartial("_YearCalendar");
    }
    else if (Model.IsOwnCalendar)
    {
        Html.RenderPartial("_YearNoCrops");
    }
    else
    {
        Html.RenderPartial("_YearNoCropsOtherUser");
    }

</div> @* End yearcalendar *@
