@{
    ViewBag.Title = "Inloggen";
}

<div class="flowtype-area">

<!-- START RESPONSIVE RECTANGLE LAYOUT -->

<!-- Top bar -->
<div id="top"></div>

<!-- Fixed main screen -->
<div id="login" class="bg imglogin">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-0 pull-left hidden-xs">
            <div class="jumbotron-box">
                <div class="jumbotron">
                    <h2>Welkom bij de Oogstplanner.</h2>
                    <p>
                      Een bijzonder praktisch gereedschap voor een ieder die vruchtbare grond ter beschikking heeft.<br/>
                      <span id="jumbo-extra-text">
                        Of het nu gaat om een vierkante meter of een akker, Oogstplanner zal je helpen om te bepalen wanneer te zaaien en te oogsten.<br/>
                      </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Login box inspired by http://bootsnipp.com/snippets/featured/login-amp-signup-forms-in-panel -->
        <div id="loginbox" class="mainbox col-md-6 col-sm-6 col-xs-12">                    
           
            <div class="panel panel-info">

                <div class="panel-heading">
                    <div class="panel-title">Inloggen</div>
                    <div class="panel-side-link">
                        @Html.ActionLink("Wachtwoord vergeten?", "LostPassword")
                    </div>
                </div>     

                <div class="panel-body">

                    <div id="login-alert" class="alert alert-danger col-sm-12"></div>

                    @{ Html.RenderPartial("_LoginForm"); }

                </div><!-- End panel body -->
            </div><!-- End panel -->
        </div><!-- End login box column-->

        <div id="signupbox" class="mainbox col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Registreer je vandaag bij de Oogstplanner</div>
                    <div class="panel-side-link">
                        <a id="signin-link" href="#">Inloggen</a>
                    </div>
                </div>  
                <div class="panel-body">

                    @{ Html.RenderPartial("_RegisterForm"); }

                 </div><!-- End panel body -->
            </div><!-- End panel -->
        </div><!-- End signup box -->

    </div><!-- End row -->
</div><!-- End main login div -->

<!-- END RESPONSIVE RECTANGLES LAYOUT -->

</div><!-- End flowtype-area -->