@{
    ViewBag.Title = "Inloggen";
}

<div class="flowtype-area">

<!-- START RESPONSIVE RECTANGLE LAYOUT -->

<!-- Top bar -->
<div id="top">
    <h1>Zaaikalender</h1>
</div>

<!-- Fixed main screen -->
<div id="login" class="bg imglogin">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 pull-left">
            <div style="padding: 3.5%; padding-top: 30px">
                <div class="jumbotron">
                    <h2>Welkom bij de Zaaikalender.</h2>
                    <p>Blablabla...</p>
                </div>
            </div>
        </div>
        <!-- Login box inspired by http://bootsnipp.com/snippets/featured/login-amp-signup-forms-in-panel -->
        <div id="loginbox" style="font-size: 12px; padding: 3.5%;" class="mainbox col-md-6 col-sm-6 col-xs-6">                    
           
            <div class="panel panel-info">

                <div class="panel-heading">
                    <div class="panel-title">Inloggen</div>
                    <div style="float: right; font-size: 80%; position: relative; top:-10px">
                        @Html.ActionLink("Wachtwoord vergeten?", "LostPassword")
                    </div>
                </div>     

                <div style="padding-top: 30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    @{ Html.RenderPartial("_LoginForm"); }

                </div><!-- End panel body -->
            </div><!-- End panel -->
        </div><!-- End login box column-->

        <div id="signupbox" style="padding: 3.5%; display:none; font-size: 12px;" class="mainbox col-md-6 col-sm-6 col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Registreer je vandaag bij de Zaaikalender</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px">
                        <a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show(); zk.resetValidation()">Inloggen</a>
                    </div>
                </div>  
                <div class="panel-body" style="padding-top: 30px;">

                    @{ Html.RenderPartial("_RegisterForm"); }

                 </div><!-- End panel body -->
            </div><!-- End panel -->
        </div><!-- End signup box -->

    </div><!-- End row -->
</div><!-- End main login div -->

<!-- END RESPONSIVE RECTANGLES LAYOUT -->

</div><!-- End flowtype-area -->