@{
    ViewBag.Title = "Wachtwoord resetten";
}

<div class="flowtype-area">

<!-- START RESPONSIVE RECTANGLE LAYOUT -->

<!-- Top bar -->
<div id="top">
    <h1>Reset uw Oogstplanner wachtwoord.</h1>
</div>
 
<!-- Fixed main screen -->
<div id="login" class="bg imglogin">
   
    <div id="resetpasswordbox" class="mainbox span12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-side-link">
                    <a id="signin-link" href="Login">Inloggen</a>
                </div>
            </div>  
            <div class="panel-body">

                @{ Html.RenderPartial("_ResetPasswordForm"); }

             </div><!-- End panel body -->
        </div><!-- End panel -->
    </div><!-- End signup box -->

</div><!-- End main login div -->

<!-- END RESPONSIVE RECTANGLES LAYOUT -->

</div><!-- End flowtype-area -->