<!-- Remove _ prefix of filename to include this file in solution.
     It will be ignored in .gitignore file so it is not part of source control.-->
<connectionStrings>
    <clear />
    <add name="TestOogstplannerDatabaseConnection" 
         connectionString="Server=localhost;Port=5432;Database=test_oogstplanner_database;User Id=test_oogstplanner_database_user;Password=broccoli;CommandTimeout=20;" 
         providerName="Npgsql" />
    <add name="AspSQLProvider" 
         connectionString="Server=localhost;Port=5432;Database=test_oogstplanner_membership_database;User Id=test_oogstplanner_database_user;Password=broccoli;Encoding=UNICODE;Sslmode=Prefer;Pooling=true;"/>
</connectionStrings>