<br/><h3 class="dark">Het gewas van @DateTime.Now.Year is: </h3>
<img alt="Broccoli: gewas van het jaar" src="/Content/Images/broccoli.jpg" class="img-circle img-responsive" />
<h5><i>Broccoli</i></h5>

@if (Request.IsAuthenticated)
{
    <span>Bekijk uw @Html.ActionLink("eigen profiel", "Info", "Account")</span>
}
else
{
    <span class="register-or-login">Meld u aan bij de <a href="#">de oogstplanner gemeenschap</a> 
    om uw grip op gezaaide broccoli nooit kwijt te raken.</span>
}    