@model PagedList<User>

@{
    ViewBag.Title = "Zoek gebruikers op OogstPlanner.nl";
}

@* START RESPONSIVE RECTANGLE LAYOUT *@

@* Top bar *@
<div id="top"></div>

<div class="row dark" id="search">

    <h1>Gemeenschap</h1>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h3 class="dark">Vind andere mensen op OogstPlanner.nl</h3>
        <div class="input-group btn-responsive">
            <input  type="text" class="form-control" placeholder="Naam of gebruikersnaam" id="search-input" />
            <span class="input-group-btn">
                <div class="btn btn-primary input-xs" id="search-button"><span class="glyphicon glyphicon-search"></span></div>
            </span>
        </div>
    
        <br/><h3>Zoekresultaat van uw zoekterm "@ViewBag.SearchTerm"</h3>

        @{ Html.RenderPartial("_SearchResult"); }

    </div> @* End first column *@

    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
        <br/>
        <br/>
        @{ Html.RenderPartial("_CropOfTheMonth"); }

    </div>
    

</div>@* End row *@
@* END RESPONSIVE RECTANGLES LAYOUT *@
 