/* Responsive square elements stylesheet is adjusted from http://jsfiddle.net/webtiki/MpXYr/3/light/ which was designed by http://web-tiki.com/ */

#top {
    width: 99.5%;
    margin: 0.25%;
    float: left;
    clear: both;
    display: block;
    padding-bottom: 50px;
}
.top-bar-tiny {
    float: left;
    position: relative;
    margin: 0.25%;
    width: 99.5%; /* This is ( 100 - (2 * 0.25) ), where 0.25 is the margin between the bar and the sides */
    padding-bottom: 6.125%;
    background-color: #000;
    overflow: hidden;
}
#login {
    width: 99.5%;
    margin: 0.25%;
    float: left;
    clear: both;
    display: block;
    color: #fff;
    text-align: center;
}
.square {
    float: left;
    position: relative;
    margin: 0.25%;
    width: 24.5%; /* This is ( 100 - (8 * 0.25) ) / 4, where 4 amount of squares and 0.25 margin between squares and sides */
    padding-bottom : 24.5%; /* = width for a 1:1 aspect ratio */
    background-color: #1E1E1E;
    overflow: hidden;
}
.rectangle {
    float: left;
    position: relative;
    margin: 0.25%;
    width: 24.5%; /* This is ( 100 - (8 * 0.25) ) / 4, where 4 amount of squares and 0.25 margin between squares and sides */
    padding-bottom : 6.125%; /* = width for a 4:1 aspect ratio, similar to bar */
    background-color: #1E1E1E;
    overflow: hidden;
}
.rectangle-double {
    float: left;
    position: relative;
    margin: 0.25%;
    width: 49.5%; /* This is ( 100 - (4 * 0.25) ) / 2, where 4 amount of squares and 0.25 margin between squares and sides */
    padding-bottom : 6.125%; /* = width for a 4:1 aspect ratio, similar to bar */
    background-color: #1E1E1E;
    overflow: hidden;
}
.rectangle-vertical {
    float: left;
    position: relative;
    margin: 0.25%;
    width: 49.5%; /* This is ( 100 - (4 * 0.25) ) / 2, where 2 amount of squares and 0.25 margin between squares and sides */
    padding-bottom : 74.5%; /* = 3 * 24.5% (squares) and 1% padding so same height as main. */
    overflow: hidden;
}
.content {
    position: absolute;
    height: 90%; /* = 100% - 2*5% padding */
    width: 90%; /* = 100% - 2*5% padding */
    padding: 5%;
}
.rectangle-content {
    position: absolute;
    height: 97.5%; /* = 100% - 2*1.25% padding */
    width: 97.5%; /* = 100% - 2*1.25% padding */
    padding: 1.25%;
}
.rectangle-content-tiny {
    position: absolute;
    height: 99.5%; /* = 100% - 2*0.25% padding */
    width: 99.5%; /* = 100% - 2*0.25% padding */
    padding: 0.25%;
}
.table {
    display: table;
    width: 100%;
    height: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.table-cell-top {
    display: table-cell;
}

/*  For responsive images */
.content .rs {
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 100%;
}

/*  For responsive images as background
 *  Note: before is used to not have opacity on the foreground */
.bg:before {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
    content: '';
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    opacity: 0.5;
}
.bg-no-opacity:before {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: '';
    top: 0; left: 0;
    right: 0; bottom: 0;
    z-index: 0;
}

/*  Change opacity on hover */
.bg:hover:before {
    opacity: 1;
}

/*  Images for the seasons displayed on the squares */
.imgwinter1:before {
    background-image: url('../Images/Winter/1.jpg');
}
.imgwinter2:before {
    background-image: url('../Images/Winter/2.jpg');
}
.imgwinter3:before {
    background-image: url('../Images/Winter/3.jpg');
}
.imgwinter4:before {
	background-image: url('../Images/Winter/4.jpg');
}
.imgsummer1:before {
    background-image: url('../Images/Summer/1.jpg');
}
.imgsummer2:before {
    background-image: url('../Images/Summer/2.jpg');
}
.imgsummer3:before {
    background-image: url('../Images/Summer/3.jpg');
}
.imgsummer4:before {
    background-image: url('../Images/Summer/4.jpg');
}
.imgautumn1:before {
    background-image: url('../Images/Autumn/1.jpg');
}
.imgautumn2:before {
    background-image: url('../Images/Autumn/2.jpg');
}
.imgautumn3:before {
    background-image: url('../Images/Autumn/3.jpg');
}
.imgautumn4:before {
    background-image: url('../Images/Autumn/4.jpg');
}
.imgspring1:before {
    background-image: url('../Images/Spring/1.jpg');
}
.imgspring2:before {
    background-image: url('../Images/Spring/2.jpg');
}
.imgspring3:before {
    background-image: url('../Images/Spring/3.jpg');
}
.imgspring4:before {
    background-image: url('../Images/Spring/4.jpg');
}

/* Images for on the farming months */
.imgsowing:before {
    background-image: url('../Images/sowing.jpg');
    opacity: 0.1;
}
.imgharvesting:before {
    background-image: url('../Images/harvesting.jpg');
    opacity: 0.05;
}

/* Login area background */
.imglogin {
    background-image: url('../Images/suvajack-design.jpg');
}