/*  Some styling that we like */

@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

body {
    font-family: 'Lato',verdana, sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #ECECEC;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
    text-align: left;
}
.bold {
    /* font-size is made responsive with the flowtype.js script */
    font-weight: 900;
}
.footer {
    color: #1E1E1E;
    font-size: 14px;
    padding: 5%;
}
.rectangle-sowing {
    background-color: #3D352A; /* Dark brown */
}
.rectangle-harvesting {
    background-color: #013220; /* Dark green */
}

.farmingMonth {
    font-size = 8px;
}
#action_CropCount {
    max-width: 10%;
}
#sowing, #harvesting {
    /* Bring input fields to front */
    z-index: 1; 
    position: relative;
}