/*  Some styling that we like */

@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

body {
    font-family: 'Lato',verdana, sans-serif;
    color: #fff;
    text-align: center;
    background: #ECECEC;
    margin: 0;
}
.jumbotron {
    background: rgba(0, 0, 0, 0.5);
}
p {
    margin: 0;
    padding: 0;
    text-align: left;
}
.bold {
    /* font-size is made responsive with the flowtype.js script */
    font-weight: 900;
}
.footer {
    color: #1E1E1E;
    font-size: 10px;
    padding: 5%;
}
.rectangle-sowing {
    background-color: #3D352A; /* Dark brown */
}
.rectangle-harvesting {
    background-color: #013220; /* Dark green */
}

.farmingMonth {
    font-size = 8px;
}
#action_CropCount {
    max-width: 10%;
}
#sowing, #harvesting {
    /* Bring input fields to front */
    z-index: 1; 
    position: relative;
}
.form-text {
    color: black;
    font-weight: normal;
}
.panel-body {
    padding-top: 30px;
}
.box-margin {
    margin-bottom: 25px;
}
.form-group-margin {
    margin-top: 10px;
}
.box-border {
    border-top: 1px solid#888; 
    padding-top: 15px; 
    font-size: 85%; 
    color: black;
}
.jumbotron-box {
    padding: 3.5%; 
    padding-top: 30px;
}
.mainbox {
    font-size: 12px; 
    padding: 3.5%;
}
.panel-side-link {
    float: right; 
    font-size: 80%;
    position: relative; 
    top: -10px;
}
#login-alert {
    display: none;
}
#signupbox {
    display: none;
}

/* For list */
ul {
    text-align:left;
    padding: 0;
    list-style-position: inside;
}
li {
    margin: 0 0 0 5%;
    padding: 0;
}

/* Validation styling */
.field-validation-error
{
    color: #ff0000;
}
.field-validation-valid
{
    display: none;
}
.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}
.validation-summary-valid
{
    display: none;
}