@{ 
    ViewBag.Title = "Er is iets fout gegaan"; 
} 
<div id="top"></div>
<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-2"></div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-8">
        <div class="panel panel-default dark">
            <div class="panel-heading">
                <h1 class="panel-title"><strong>500 Interne Server Fout</strong></h1>
            </div>
            <p>
                <span class="glyphicon glyphicon-heart-empty"></span>&nbsp;
                Oeps, sorry, er is iets fout gegaan.<br/><br/>
                Er is iets kapot. Als u zo vriendelijk wilt zijn 
                <a href="https://github.com/erooijak/oogstplanner/issues">
                    een probleem (issue) aan te maken op onze GitHub
                </a>
                of een mail te sturen naar
                <a href="mailto:oogstplanner@gmail.com">
                    oogstplanner@gmail.com
                </a>
                zullen we er naar kijken.
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-2"></div>
</div>    