<!-- Top bar -->
<div class="top-bar-tiny">
    <div class="rectangle-content-tiny">
        <div class="table">
            <div class="table-cell bold">
                <div id="current-month"></div>
            </div>
        </div>
    </div>
</div>

<!--- Sowing and harvesting -->
<div class="rectangle-double">
    <div class="rectangle-content">
        <div class="table">
            <div class="table-cell bold">
                ZAAIEN
            </div>
        </div>
    </div>
</div>
<div class="rectangle-double">
    <div class="rectangle-content">
        <div class="table">
            <div class="table-cell bold">
                OOGSTEN
                <!--Temporary go back function -->
                <input type="button" value="Terug!" onclick="zk.toMain()" />
            </div>
        </div>
    </div>
</div>

@using (Ajax.BeginForm("Update",  new AjaxOptions { OnSuccess = "zk.toMain" }))
{
<!--- Information about the month filled by fillFarmingMonth function in /Scripts/zk.js -->
<input type="hidden" name="Month" />

<!-- Main rectangles -->
<div class="rectangle-vertical rectangle-sowing">
    <div class="rectangle-content bg-no-opacity imgsowing">
        <div class="table">
            <div class="table-cell-top">
                <div class="farmingMonth" id="sowing"></div>
            </div>
        </div>
    </div>
</div>
<div class="rectangle-vertical rectangle-harvesting">
    <div class="rectangle-content bg-no-opacity imgharvesting">
        <div class="table">
            <div class="table-cell-top">
                <div class="farmingMonth" id="harvesting"></div>
            </div>
        </div>
    </div>
</div>

<div class="top-bar">
    <div class="rectangle-content">
        <div class="table">
            <div class="table-cell header">
                
                <input type="submit" value="Bevestigen!" /><br/>

                @Html.ActionLink("Naar de gewassen!", "Index", "Crop", null, null)
            </div>
        </div>
    </div>
</div>
} @* End form *@