<!-- Top bar -->
<div class="top-bar">
    <div class="rectangle-content">
        <div class="table">
            <div class="table-cell header">
                <h1 id="current-month"></h1>
            </div>
        </div>
    </div>
</div>
<!--- Sowing and harvesting -->
<div class="rectangle-double">
    <div class="rectangle-content">
        <div class="table">
            <div class="table-cell bold">
                ZAAIEN
            </div>
        </div>
    </div>
</div>
<div class="rectangle-double">
    <div class="rectangle-content">
        <div class="table">
            <div class="table-cell bold">
                OOGSTEN
            </div>
        </div>
    </div>
</div>
<!-- Main rectangles -->
<div class="rectangle-vertical">
    <div class="rectangle-content">
        <div class="table">
            <div class="table-cell">
                TEST
            </div>
        </div>
    </div>
</div>
<div class="rectangle-vertical">
    <div class="rectangle-content">
        <div class="table">
            <div class="table-cell">
                TEST
            </div>
        </div>
    </div>
</div>
<div class="top-bar">
    <div class="rectangle-content">
        <div class="table">
            <div class="table-cell header">
                <input type="button" value="Terug!" onclick="zk.toMain()" />
            </div>
        </div>
    </div>
</div>
<div class="top-bar">
    <div class="rectangle-content">
        <div class="table">
            <div class="table-cell header">
                @Html.ActionLink("Naar de gewassen!", "Index", "Crop", null, null)
            </div>
        </div>
    </div>
</div>