@{ 
    ViewBag.Title = "Home"; 
} 

<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<table>
    <tr>
    	<th>Gewas</th><th>Type</th>
    </tr>
	<tbody>
		 
	    <tr>
	    	<td></td><td></td>
	    </tr>
	</tbody>
</table>