@{
    ViewBag.Title = "Welkom";
}

<div class="flowtype-area">

<!-- START RESPONSIVE RECTANGLE LAYOUT -->

<!-- Top bar -->
<div id="top"></div>
   
<!-- Fixed main screen -->
<div id="login" class="bg imglogin">

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-0 pull-left hidden-xs">
            <div class="jumbotron-box">
                <div class="jumbotron">
                    <h1>Welkom bij de Oogstplanner.</h1>
                    <p>
                      Een bijzonder praktisch gereedschap voor een ieder die vruchtbare grond ter beschikking heeft.<br/>
                      <span id="jumbo-extra-text">
                        <br/>Oogstplanner helpt je bepalen wanneer te zaaien en te oogsten. 
                        Of het nu gaat om een akker of een bloempot.
                      </span>
                    </p>
                </div>
            </div>
        </div> <!-- End first column -->

        <div class="col-md-6 col-sm-6 col-xs-0 pull-left hidden-xs">
            TODO
        </div> <!-- End second column -->

    </div><!-- End row -->
</div><!-- End main login div -->

<!-- END RESPONSIVE RECTANGLES LAYOUT -->

</div><!-- End flowtype-area -->