@{ 
    ViewBag.Title = "Home"; 
} 

<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<h3>Dit zijn de gewassen in de database:</h2>
<table class="table table-striped">
    <tr>
    	<th>Gewas</th><th>Zaaimaanden</th>
    </tr>
	<tbody>
		
	    <tr>
	    	<td>Broccoli</td><td>Januari</td>
	    </tr>
		<tr>
	    	<td>IJsbergsalade</td><td>Maart, April</td>
	    </tr>
		
	</tbody>
</table>

<a href="/Crop/Index">Naar de gewassen</a>