/* Some styling that we like */

@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

@media(max-width: 1200px) { #jumbo-extra-text { display: none; } }

body {
    font-family: 'Lato',verdana, sans-serif;
    color: #fff;
    text-align: center;
    background: #ECECEC;
    margin: 0;
}
.jumbotron {
    background: rgba(0, 0, 0, 0.5);
}
p {
    margin: 0;
    padding: 0;
    text-align: left;
}
.bold {
    /* font-size is made responsive with the flowtype.js script */
    font-weight: 900;
}
.footer {
    color: #1E1E1E;
    font-size: 10px;
    padding: 5%;
}
.rectangle-sowing {
    background-color: #3D352A; /* Dark brown */
}
.rectangle-harvesting {
    background-color: #013220; /* Dark green */
}

.farmingMonth {
    font-size = 8px;
}
#sowing, #harvesting {
    /* Bring input fields to front */
    z-index: 1; 
    position: relative;
}
#yearCalendar {
    color: black;
}
.dark {
    color: #333;
}
.form-text {
    color: #333;
    font-weight: normal;
    font-size: 14px;
}
.form-text-large-white {
    color: white;
    font-weight: normal;
    font-size: 18px;
}
.lower-right {
    position: absolute; 
    right: 25px; 
    bottom: 2px;
}
.input-xs {
    height: 35px;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    width: 60px !important;
}
.box-margin {
    margin-bottom: 25px;
}
.form-group-margin {
    margin-top: 10px;
}
.box-border {
    padding-top: 15px; 
    font-size: 95%; 
}
.jumbotron-box {
    padding: 3.5%; 
    padding-top: 30px;
}
.mainbox {
    font-size: 12px; 
    padding: 3.5%;
}
.panel-side-link {
    float: right; 
    font-size: 95%;
    position: relative; 
    top: -10px;
}
#login-alert {
    display: none;
}
#signupbox {
    display: none;
}
#selected-crop-info {
    font-size: 12px;
}
.crop-counter-textbox {
    width: 50px;
}
.empty-message {
    color: black;
}
.no-highlighting strong {
    font-weight: normal;
}
.draggable {
    font-size: 10px;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    cursor: all-scroll;
}
.droppable-hover {
    background-color: black !important;
    opacity: 0.7 !important;
}

/* Validation styling */
.field-validation-error
{
    color: #ff0000;
}
.field-validation-valid
{
    display: none;
}
.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}
.validation-summary-valid
{
    display: none;
}