/* Some styling that we like */

/* For Bootstrap's md, lg */
.responsive-header2 {
    font-size: 18px;
    font-size: 2vw;
}
.responsive-header3 {
    font-size: 16px;
    font-size: 1.8vw;
}
.responsive-form-text-large-white {
    color: white;
    font-weight: normal;
    font-size: 18px;
}

/* Bootstrap's xs and sm */
@media(max-width: 991px) {
    .responsive-header2 {
        font-size: 16px;
        font-size: 3vw;
    }
    .responsive-header3, resizable-normal-text {
        font-size: 13px;
        font-size: 2.7vw;
    }
    .responsive-form-text-large-white {
        color: white;
        font-weight: normal;
        font-size: 12px;
        font-size: 2vw;
    }
}
